PORT=3000
SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key_real
SUPABASE_SECRET_KEY=tu_secret_key_real
JWT_SECRET=una_clave_larga_y_aleatoria
CLIENT_ORIGIN=http://localhost:3000,https://tu-frontend.vercel.app
MAX_PROFILES_PER_USER=5
TMDB_API_KEY=b24af203b14e23f8c91844baae37cfab
ADMIN_EMAILS=davidguadalupell94@gmail.com
